.bg-top {
  background-position: top left;
}
.image,
pre,
aside div {
  border-radius: 5px;
}
figure {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
code,
kbd,
samp {
  word-break: break-word;
  word-wrap: break-word;
}
pre code {
  word-break: keep-all;
  word-wrap: normal;
}
code,
kbd,
samp {
  font-size:1.05rem;
}
.nested-list-small-indent ul ul,
.nested-list-small-indent ol ol {
  padding-left: 20px;
}
#TableOfContents ul li {
  margin-bottom: 0.6em;
}
@media screen and (max-width: 30em) {
  .code,
  pre code,
  kbd,
  samp {
    font-size: 0.6em;
  }
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figcaption {
  text-align: center;
  font-size: 0.8em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  background: #ddd;
}
tr:nth-child(even) {
  background: #eee;
}
