.ananke-socials a{
  display: inline-block;
  vertical-align: middle;
  color: #BABABA;
  fill: currentColor;
}
.ananke-socials a .icon svg{
  width: 32px;
  height: 32px;
}
.ananke-socials a:hover {
  color: rgb(107, 114, 128);
}
